.input-black::placeholder {
    color: #ffffff;
}

.input-white::placeholder {
    color: #000000;
}

.input-number::-webkit-inner-spin-button,
.input-number::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}